/* components/Button.module.css */
.button {
  display: block;
  width: 400px; /* ボタンの幅 */
  padding: 1.5rem; /* 上下のパディングを増やして高さを調整 */
  border-radius: 9999px;
  font-size: 2rem;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem; /* 下のマージンを調整してボタン間のスペースを増やす */
}
  .primary {
    background-color: #ffffff;
    color: black;
    border: 3px solid gray;
  }
  .primary:hover {
    text-decoration: underline;
  }
  
  .secondary {
    background-color: #32ade6;
    color: white;
    border: 3px solid gray;
  }
  
  .secondary:hover {
    text-decoration: underline;
  }

  @media(min-width:800px){
    .button{
      width:300px;
      padding:1rem;
    }
  }