.inputContainer {
  margin-bottom: 1rem;
  width: 80vw;
  max-width:480px;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: clamp(1rem, 5vw, 1.4rem);

}

.input {
  height: 50px;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:1.4rem;
}