.container {
  width: 100vw; /* Viewport width, screen size relative */
  height:100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.backgroundWave {
  width: 100vw; /* Full viewport width */
  height: 20vh; /* 20% of viewport height */
  background-image: url('/images/HomeBackground.png');
  background-size: 100% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.message {
  font-size: 8vw; /* Responsive font size based on viewport width */
  line-height: 1.2;
  text-align: center;
  margin: 5vh auto; /* Responsive margins based on viewport height */
  white-space: pre-wrap;
  color: #686868;
  width: 60vw; /* Set width based on viewport */
}

.logo {
  display: block;
  margin: 5vh auto; /* Centered and responsive */
  max-width: 90vw; /* Responsive width based on viewport */
  height: auto; /* Maintain aspect ratio */
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 4vh; /* Vertical gap based on viewport height */
  margin: 15vh auto; /* Centered and responsive */
  margin-left:5vw;
  margin-right:5vw;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .backgroundWave {
    background-image: url('/images/HomeBackground.png');
  }
  
  .message {
    font-size: 4vw;
  }
  
  .buttonContainer {
    flex-direction: row;
    gap: 8vh;
  }
}
