/* Home.module.css */

.container {
  position: relative;
  min-height: 100dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.backgroundWave {
  position: absolute;
  top: -80px; /* Adjust this value if needed */
  width: 100%;
  height: 200px; /* Set a fixed height for the wave */
  background-image: url('/images/HomeBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleY(-0.8);
  z-index: -1;
}

.message {
  position: relative;
  top: 100px; /* Adjusted top value if needed */
  font-size: 2.5rem;
  line-height: 1.2; /* Reduced line-height to bring lines closer */
  text-align: center;
  margin: 0; /* Removed margins for better control */
  width: 55%;
  white-space: pre-wrap;
  color: #686868;
}


.logo {
  position:relative;
  top:200px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 520px;
  max-height: 130px;
}

.buttonContainer {
  position:relative;
  top:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .backgroundWave {
    height: 800px;
    top:-400px;
  }

  .logo {
    top: 70px; /* Adjust position if needed */
  }
  .message {
    width:100%;
    top: 300px; /* Adjust message position on larger screens */
    font-size: 3.5rem; /* Increase font size for larger screens */
  }

  .buttonContainer {
    position:relative;
    top: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
  }
}