/* Login.module.css */
.container {
    position: relative;
    min-height: 450px;
    max-width:800;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* Background wave styling */
.backgroundWave {
    position: absolute;
    top: -80px; /* Adjust this value if needed */
    width: 100%;
    height: 200px; /* Set a fixed height for the wave */
    background-image: url('/images/HomeBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleY(-0.8);
    z-index: -1;
  }

/* Message styling */
.message {
    position: relative;
    top: 150px; /* Adjusted for better fit */
    font-size: 2.5rem; /* Reduced font size for mobile screens */
    line-height: 1.3;
    text-align: center;
    margin: 0;
    width: 90%; /* Adjusted width */
    white-space: pre-wrap;
    color: #686868;
}

/* Form styling */
.form {
    position: relative;
    top: 250px; /* Adjusted position */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button container styling */
.buttonContainer {
    position: relative;
    top: 140px; /* Adjusted position */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}

/* Link styling */
.link {
    position: relative;
    font-size: 1.4rem; /* Reduced font size */
    color: #00aaff;
}

.link a {
    color: inherit; /* Inherit color from parent */
}

/* Media query for screens */
@media (min-width: 800px) {
  .container {
    min-height: 100vh; /* Ensure the container fits within one viewport */
    padding: 0 20px; /* Adjust padding if necessary */
  }

  .backgroundWave {
    top:-50%;
    height: 100%;
    background-size: 100% 50%;
  }

  .message {
    top:150px;
    font-size: 2.5rem;
    width: 70%;
  }

  .form {
    top: 20px;
  }

  .buttonContainer {
    position: relative;
    top: -15px; /* Adjusted position */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}

  .link {
    position: relative;
    top: -20px;
  }
}

@media (min-width: 1600px) {
  .container {
    min-height: 100vh; /* Ensure the container fits within one viewport */
    padding: 0 20px; /* Adjust padding if necessary */
  }

  .backgroundWave {
    top:-50%;
    height: 100%;
    background-size: 100% 50%;
  }

  .message {
    top:250px;
    font-size: 2.5rem;
    width: 70%;
  }

  .form {
    top: 20px;
  }

  .buttonContainer {
    position: relative;
    top: -15px; /* Adjusted position */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}

  .link {
    position: relative;
    top: -20px;
  }
}
