/* Login.module.css */
.container {
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* Background wave styling */
.backgroundWave {
  width: 100vw; /* Full viewport width */
  height: 20vh; /* 20% of viewport height */
  background-image: url('/images/HomeBackground.png');
  background-size: 100% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Message styling */
.message {
  position:relative;
  bottom:20px;
  font-size: 10vw; /* Responsive font size based on viewport width */
  line-height: 1.2;
  text-align: center;
  margin: 3vh auto; /* Responsive margins based on viewport height */
  color: #686868;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button container styling */
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 5vh auto; /* Centered and responsive */
  align-items: center;
  justify-content: center;
}

/* Link styling */
.link {
    font-size: max(1rem, 4vw);
    color: #00aaff;
}

.link a {
    color: inherit; /* Inherit color from parent */
}

/* Media query for screens */
@media (min-width: 800px) {
  .backgroundWave {
      background-image: url('/images/HomeBackground_PC.png');
    }

  .message {
    font-size: 4rem;
  }
  .buttonContainer {
    margin-top: 2rem;
  }

  .link {
    font-size:1.5rem;
    position: relative;
    top: -20px;
  }
}