.rogo {
    display: inline;
    margin: 20px 35px;
    font-family: "Cherry Bomb One", system-ui;
    color: #fff;
    font-size: 40px;
}

/* 追加 */
.touroku {
    text-align: center;
}

.number {
    width: 30px;
}

.place-area {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.delete {
    margin-left: 80px;
}

.return {
    text-align: center;
}

.return button {
    padding: 10px 30px;
    font-size: medium;
    margin-top: 50px;
}

/* 追加 */
/* @media (min-width: 1024px) {
    .touroku input {
        width: 600px;
        height: 40px;
        font-size: larger;
        margin-bottom: 30px;
    }

    /* header button {
        margin-left: 600px;
    } */
/* 
    button {
        padding: 10px 20px;
        font-size: larger;
    } */

/* h2 {
        font-size: 30px;
    } */
/* }  */