.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin:0;
}

/* Background wave styling */
.backgroundWave {
  width: 100vw; /* Full viewport width */
  height: 20vh; /* 20% of viewport height */
  background-image: url('/images/HomeBackground.png');
  background-size: 100% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Message styling */
.message {
  position:relative;
  bottom:20px;
  font-size: 10vw; /* Responsive font size based on viewport width */
  line-height: 1.2;
  text-align: center;
  margin: 3vh auto; /* Responsive margins based on viewport height */
  white-space: pre-wrap;
  color: #686868;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 3vh auto; /* Centered and responsive */
  align-items: center;
  justify-content: center;
}
  
.error {
  color: red;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.link {
  font-size: max(1rem, 3vw);
  color: #00aaff;
}

.link a {
  color: inherit;
}

@media (min-width: 800px) {
  .backgroundWave {
    background-image: url('/images/HomeBackground_PC.png');
  }

  .message {
    font-size: 4rem;
  }

  .form {
    top: 20px;
  }

  .link {
    font-size:1.5rem;
    position: relative;
    top: -20px;
  }
}