.container {
    position: relative;
    min-height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .backgroundWave {
    position: absolute;
    top: -80px;
    width: 100%;
    height: 200px;
    background-image: url('/images/HomeBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleY(-0.8);
    z-index: -1;
  }
  
  .message {
    position: relative;
    top: 150px; /* Adjusted for better fit */
    font-size: 2.5rem; /* Reduced font size for mobile screens */
    line-height: 1.3;
    text-align: center;
    margin: 0;
    width: 90%; /* Adjusted width */
    white-space: pre-wrap;
    color: #686868;
}
  
.form {
    position: relative;
    top: 250px; /* Adjusted position */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
 .buttonContainer {
    position: relative;
    top: 40px; /* Adjusted position */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}
  
  .error {
    color: red;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
  }
  
  .link {
    font-size: 1.4rem;
    color: #00aaff;
  }
  
  .link a {
    color: inherit;
  }

  @media (min-width: 800px) {
    .container {
      min-height: 100vh; /* Ensure the container fits within one viewport */
      padding: 0 20px; /* Adjust padding if necessary */
    }
  
    .backgroundWave {
      top:-50%;
      height: 100%;
      background-size: 100% 50%;
    }
  
    .message {
      top:90px;
      font-size: 2.5rem;
      width: 70%;
    }
  
    .form {
      top: 20px;
    }
  
    .buttonContainer {
      position: relative;
      top: -15px; /* Adjusted position */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      margin-top: 2rem;
  }
  
    .link {
      position: relative;
      top: -20px;
    }

    
    @media (min-width: 1600px) {
      .backgroundWave {
        height: 800px;
        top: -400px;
      }
      .message {
        width: 100%;
        top: 300px;
        font-size: 3.5rem;
      }
      .form {
        position: relative;
        top: 80px;
        width: 100%;
      }
      .buttonContainer {
        position: relative;
        top: 30px;
        width: 100%;
        margin-top: 2rem;
      }
      .link {
        position: absolute;
        font-size: 1.4rem;
        top: -150px;
      }
    }
}
  